<div style="margin:100px;">
  <%= form_with model: @post, data: { turbo: false } do |form| %>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <div style="margin-bottom: 10px">
      <%= form.label :title, "제목" %>
      <br />
      <%= form.text_field :title %>
    </div>
    <div style="margin-bottom: 10px">
      <%= form.label :body, "내용" %>
      <br />
      <%= form.text_area :body, rows: 10 %>
    </div>
    <div style="margin-bottom: 10px">
      <%= form.label :published, "공개여부" %>
      <br />
      <%= form.check_box :published %>
    </div>
    <div style="margin-bottom: 10px">
      <%= form.label :user_id, "사용자 ID" %>
      <br />
      <%= form.text_field :user_id %>
    </div>
    <div style="margin-bottom: 10px">
      <%= form.label :published_at, "공개일" %>
      <br />
      <%= form.datetime_local_field :published_at %>
    </div>
    <div style="margin-bottom: 10px">
      <%= form.submit "게시물 작성" %>
    </div>
  <% end %>
</div>